In [ ]:
import pandas as pd
import xlrd
import mysql.connector
from datetime import datetime
import mysql.connector

In [ ]:
!pip install mysql-connector-python

In [ ]:
now = datetime.now()

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="macbookair",
  db = "dmdd"
)

In [ ]:
print(mydb)

In [ ]:
cursor = mydb.cursor()

In [ ]:
occupation = ("CREATE TABLE IF NOT EXISTS occupation(occupation_id int PRIMARY KEY NOT NULL,role varchar(45) NOT NULL)")
cursor.execute(occupation)

In [ ]:
cursor = mydb.cursor()
book = xlrd.open_workbook("/Users/ramvaghani/Documents/Dmdd_Assignment 3/Occupation.xls")

In [ ]:
# Customer details table
#---------------------------------------------------------------------------------------------------------------------------
# Open the workbook and define the worksheet
book = xlrd.open_workbook("/Users/ramvaghani/Documents/Dmdd_Assignment 3/Occupation.xls")
sheet = book.sheet_by_name("Occupation")

# Create the INSERT INTO sql query
query = """INSERT INTO occupation (occupation_id,role) VALUES (%s, %s)"""

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
		occupation_id		= sheet.cell(r,0).value
		role	= sheet.cell(r,1).value

        
		# Assign values from each row
		values = (occupation_id,role)

		# Execute sql Query
		cursor.execute(query, values)

# Close the cursor
cursor.close()

# Commit the transaction
mydb.commit()

# Print results
print ("")
print ("All Done! Bye, for now.")
columns = str(sheet.ncols)
rows = str(sheet.nrows)

In [ ]:
cursor = mydb.cursor()
book = xlrd.open_workbook("/Users/ramvaghani/Documents/Dmdd_Assignment 3/CreditLoan.xls")